*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header
{
  background: #b3b3b3;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
}

.header__logo
{
  text-decoration: none;
  color: #101010;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 24px;
  padding-bottom: 6px;
  cursor: pointer;
}

.header__nav
{
  display: flex;
  gap: 10px;
}

.header__nav a
{
  text-decoration: none;
  color: #101010;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  background: #e0e0e0;
  padding: 6px 10px;
}

.container
{
  padding: 10px;
}

.gamecard
{
  width: 290px;
  height: 270px;
  background: #e0e0e0;
  border-radius: 5px;
  padding: 110px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gamecard__name
{
  margin-bottom: 5px;
}

.gamecard__download
{
  display: flex;
  justify-content: space-between;
}

.gamecard__download-item
{
  height: 37.55px;
}
