*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  height: 100vh;
  background-color: #fff;
  overflow: hidden;

  background-image: url('images/background-main.jpg');
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

.header {
  height: 50px;
  width: 100%;

  background: rgba( 200, 200, 200, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  border-bottom: 1px solid rgba( 200, 200, 200, 0.18 );

  color: #ffffff;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}

.cards {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  width: calc(50vw - 50px);
  height: calc((50vw - 50px) / 4 * 3);
}

.footer {
  height: 50px;
  padding: 0 20px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  color: #fff;
  font-size: 12px;
  font-family: 'Helvetica Neue',  Helvetica, sans-serif;
  letter-spacing: 1px;
}

.footer__madeby {
  text-align: right;
  color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.madeby, .author {
  font-size: inherit;
}


@media (max-width: 820px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: calc(100vw - 200px);
    height: 35vh;
  }
}

@media (max-width: 699px) {
  .card {
    width: calc(100vw - 200px);
  }
}

@media (max-width: 560px) {
  .card {
    width: calc(100vw - 100px);
  }

  .footer {
    flex-direction: column;
    padding: 13px 10px 3px;
  }

  .footer__copyright {
    text-align: center;
    font-size: 12px;
    width: 100%;
  }

  .footer__madeby {
    width: 100%;
    flex-direction: row;
    font-size: 10px;
    gap: 5px;
    justify-content: flex-end;
  }
}

@media (max-width: 420px) {
  .card {
    width: calc(100vw - 50px);
  }
}

@media (max-height: 420px) {
  .wrapper {
    height: 200vh;
    overflow: auto;
  }

  .cards {
    height: calc(200vh - 100px);
    flex-direction: column;
  }

  .card {
    width: calc(100vw - 150px);
    height: calc(70vh);
  }
}
